<!DOCTYPE html>
<html>
    <head>

        <!-- Site Basic Meta Info -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- Site Basic Name Info -->
        <title>{{meta.title}}</title>
        <meta name="author" content="{{meta.author}}">
        <meta name="description" content="{{meta.description}}">
        <meta name="keywords" content="{{meta.keywords}}">
        <meta name="image" content="https://i.imgur.com/QqmRZ6u.gif">
        <link rel="canonical" href="{{meta.url}}" />

        <!-- App Manifest -->
        <link rel="manifest" href="dist/manifest.json">
        <meta name="theme-color" content="{{meta.color}}"/>
        
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{meta.title}}">
        <meta itemprop="description" content="{{meta.description}}">
        <meta itemprop="image" content="https://i.imgur.com/QqmRZ6u.gif">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{meta.title}}">
        <meta name="twitter:description" content="{{meta.description}}">
        <meta name="twitter:image" content="https://i.imgur.com/QqmRZ6u.gif">

        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="{{meta.title}}">
        <meta name="og:description" content="{{meta.description}}">
        <meta name="og:image" content="https://i.imgur.com/QqmRZ6u.gif">
        <meta name="og:url" content="{{meta.url}}">
        <meta name="og:site_name" content="{{meta.title}}">
        <meta name="og:type" content="website">
        
        <!-- Fonts, Icons and Styles -->
        <!-- <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"> -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/docsify/lib/themes/vue.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="dist/voronoi-styles.css" type="text/css">

        <!-- Google Analytics and Error Tracking -->
        <script src="dist/analytics.js"></script>

  </head>

  <body>
    
    <div id="vonoroi"></div>

    
    <div id="app"></div>

    <script>
      window.$docsify = {
        name: '{{meta.title}}',
        repo: 'https://github.com/Lissy93/voronoi-site-template',
        homepage: 'readme.md',
        coverpage: 'pages/cover.md',
        notFoundPage: 'pages/404.md'
      }
    </script>

    <script src="https://unpkg.com/docsify/lib/docsify.min.js"></script>
    <script src="//unpkg.com/docsify/lib/plugins/external-script.min.js"></script>

  
    <!-- JavaScripts (D3 and voronoi + website scripts) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="/dist/voronoi-app.js"></script>
            
  </body>

  </html>